body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{ 
    background-color: #2E5077;
    color: #f0d43a;
    font-family: var(--main-font-family);
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "headline headline"
    "zip content"
    "feel content";
    height: 900px;
    padding:100px 30%;
}

.entry{
    background: rgba(59, 74, 107, .4);
    grid-area: content;
    height: 500px;
    width: 800px;
    margin-left: 50px;
}

#entryHolder{
   font-size: 25px;
   color: white;
}
.datetime {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#date{
  margin-right: 20px;
}
#location {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    color: #f0d43a;
}
#icon {
   width: 300px;
   grid-area: pic;
}


#content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "pic temp"
    "pic wind"
    "pic cloud";

}

.headline {
  grid-area: headline;
  font-family: 'Ephesis', cursive;
  font-size: 70px;
  text-align: center;
}
.zip{
    grid-area: zip;
    font-size: 25px;
    margin-top: 30px;
}
.zipcode{
    margin-top: 15px;
    border-radius: 5px;
}
.feel{
    grid-area: feel;
    display: flex;
    flex-direction: column;
    margin-top: -150px;
}
#myfeeling {
    margin-left: 50px;
    margin-top: -30px;
}
input{
    display:block;
    height: 60px;
    width: 200px;
    background:#8bdaf0;
    color: #611C35;
    font-size: 20px;
    font-family: var(--main-font-family);
    border: none;
}

button{
    width: 100px;
    height: 50px;
    margin: 20px;
    background: #f3f3d8;
    color: #611C35;
    font-size: 20px;
    font-family: var(--main-font-family);
    border: none;
    border-radius: 20px;
}
h1{
    font-size: 36px;
}

textarea{
    background:#8bdaf0;
    color: #611C35;
    font-size: 20px;
    font-family: var(--main-font-family);
    border-radius: 5px;
    width: 400px;
    height: 200px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #611C35;
    font-family: var(--main-font-family);

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: var(--main-font-family);

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: var(--main-font-family);

} 
:root{
   --main-font-family:'Oswald', sans-serif;
}

@media (max-width: 1024px) {
    
    #app{ 
        width: 1200px;
        padding: 100px 50px;
    }
    .headline {
        text-align: start;
    }
    .entry{
        margin-left: 10px;
    }
    #content {
        grid-template-columns: 3/7;
    }
}