body{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app{ 
    background-color: #2E5077;
    color: #f0d43a;
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
    "headline headline"
    "zip content"
    "feel content";
    height: 900px;
    padding:100px 30%;
}


.holder{

}

.entry{
    background: rgba(59, 74, 107, .4);
    grid-area: content;
    height: 500px;
    width: 800px;
    margin-left: 50px;
}

#entryHolder{
   font-size: 30px;
   color: white;
}

#date{

}

#temp{

}

#content{

}

.headline {
  grid-area: headline;
  font-family: 'Ephesis', cursive;
  font-size: 70px;
  text-align: center;
}
.zip{
    grid-area: zip;
    font-size: 25px;
    margin-top: 30px;
}
.zipcode{
    margin-top: 15px;
    border-radius: 20px;
}
.feel{
    grid-area: feel;
    display: flex;
    flex-direction: column;
    margin-top: -150px;
}

input{
    display:block;
    height: 60px;
    width: 200px;
    background:#8bdaf0;
    color: #611C35;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

button{
    width: 100px;
    height: 50px;
    margin: 20px;
    background: #f3f3d8;
    color: #611C35;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
    border-radius: 20px;
}
h1{
    font-size: 36px;
}

textarea{
    background:#8bdaf0;
    color: #611C35;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border-radius: 20px;
    width: 400px;
    height: 200px;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #611C35;
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 